body{
  background-color:#1A1B26;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.card{
  border-radius:25px;
  border: 2px solid #2AC3DE;
  padding-left:10px;
  padding-right:10px;
  display: inline-block;
  margin-bottom:10px;
}
h1{
  color:#A6AED3
}
h2{
  color:#A6AED3
}
h3{
  color:#A6AED3
}
p {
  color:#A6AED3
}
a{
  color:#9ECE6A
}
